# openwrt note: for cron to work you need to
#   /etc/init.d/cron start
#   /etc/init.d/cron enable

PATH=/usr/sbin:/usr/bin:/sbin:/bin
SHELL=/bin/ash

# run every minute
# m  h  dom mon dow   command
  *  *   *   *   *    /tmp/track_mac_usage

