# download quota (Mb)
dl_quota_mb=150
dl_quota=$(($dl_quota_mb * 1024 * 1024))

# max download speed (k/s)
dl_cap_max_kb=100
dl_cap_max=$(($dl_cap_max_kb * 8))

# max download speed once over quota (k/s)
dl_cap_kb=50
dl_cap=$(($dl_cap_kb * 8))

# lan addresses to limit (make sure it includes dhcp range)
lan=192.168.1
ip_start=100
ip_end=249

# lan interface
if_lan=br-lan		# openwrt

# wan interface
if_wan=eth0.2
